body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
:root {
	--strong-blue: #7385cd;
	--blue: #7a9bdd;
	--ligth-blue: #a1b7e0;
	--white: #e1f3ff;
	--purple: #a471c3;
	--tinto: #6a3287;
}
